.mdl-mini-footer{
	text-align: center !important;
}

.fix-col{
	overflow-x: none;
}

.mdl-data-table th {
text-align:center !important;
}

.mdl-data-table td {
text-align:left !important;
}

.tablei{
	overflow-x: auto; 
	max-width: 100%; 
	display: block;
}

#add-fab, #add-fab2, #add-fab3{
	position: fixed;
	bottom:25px;
  	right:25px;
}

body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

.top{
	margin-top: 30px;
}

.med{
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea{
	overflow-y: scroll;
}